@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@300;400;500&display=swap');

/* global style */
:root{
    --font-color:#3a3a3a;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#fff;
}

li{
    list-style-type:none;
}

a{
    text-decoration:none;
}
.flex-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header section */
header{
    width:100%;
    display:flex;
    justify-content:center;
    height: 100px;
}
.menu{
    display:none;
}
.cart{
    display:none;
}
.nav-section .menu i{
    font-size: 25px;
}

.nav-section{
    width:90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-family: 'Mochiy Pop P One', sans-serif;
    background:linear-gradient(to left, rgb(255, 38, 146) , rgb(255, 31, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav{
    display:flex;
}
.nav li{
    padding:0 20px;
}
.nav li a{
    font-family:'Poppins',sans-serif;
    padding:10px 0;
    color:var(--font-color);
}

.cart a i{
    color:var(--font-color);
    font-size: 25px;
}

.flexible{
    display:flex;
    align-items: center;
}

/* main-section */

main{
    width:100%;
    display:flex;
    justify-content: center;
}

.container{
    width:90%;
}
.hero-section{
    margin-bottom: 50px;
}
.hero-section .details{
    padding-right: 80px;
}
.details h2{
    font-size:50px;
    color:var(--font-color);
    font-family:'Poppins';
}
.details p{
    margin:20px 0;
    font-family: 'Poppins';
    color:var(--font-color);
    font-weight: 500;
}
.details button{
    border:none;
    background:#E02C6D;
    color:white;
    padding:10px 40px 10px 20px;
    border-radius: 20px;
    font-family:'Poppins';
    font-weight:500;
    position:relative;
    cursor:pointer;
}
.details button .fas{
    position:absolute;
    right:15px;
}
.details button:hover .fas{
    animation:btn-animation 1s ease-in-out infinite;
}
@keyframes btn-animation{
    0%{
        right:15px;
        opacity: 1;
        transform: rotate(0deg);
    }
    49%{
        right:-10px;
        opacity: 0;
        transform: rotate(0deg);
    }
    50%{
        right:-10px;
        opacity: 0;
        transform: rotate(180deg);
    }
    99.9%{
        right: 15px;
        transform: rotate(180deg);
        opacity: 1;
    }
    100%{
        right: 15px;
        transform: rotate(0deg);
        opacity: 1;
    }
}

.hero-section img{
    position:relative;
    top:0;
    left: 0;
    width:600px;
    animation:hero-img-an 2s linear infinite;
}
@keyframes hero-img-an{
    0%{
        top:10px;
    }
    50%{
        top:0px;
    }
    100%{
        top:10px;
    }
}

/* brand-section */
.brand-section{
    display:flex;
    justify-content: center;
    margin:80px 0;
}
.brands{
    width:1000px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:20px 0;
    border-top:2px solid #dfdfdf;
    border-bottom:2px solid #dfdfdf;
}
.brands img{
    cursor:pointer;
    padding:10px 15px;
    width:120px;
}

/* card-section */

.card-section{
    display:grid;
    grid-template-columns:repeat(3,330px);
    grid-gap:30px;
    justify-content:center;
}

.collection h2{
    
    text-align:center;
    font-family:'Poppins';
    color:var(--font-color);
    margin:50px 0;
    font-size:30px;
}

.card{
    padding:15px;
    background:#fff;
    border-radius:10px;
    box-shadow:4px 4px 20px 10px rgba(0,0,0,.1);
    transition:all.3s ease-in-out;
}
.card:hover{
    box-shadow:4px 4px 20px 15px rgba(0,0,0,.2);
    transform:scale(1.05);

}
.card img{
    width:100%;
}
.card h3,
.card p{
    font-family:'Poppins';
    color:var(--font-color);
}
.c-title{
    padding:10px 0;
    font-size: 25px;
}
.c-price{
    padding-bottom:10px;
}
.ratings .fas{
    color:orange;
    font-size:10px;
}
.ratings .fas:nth-child(5){
    color:#999;
}
.ratings p{
    padding-left:10px;
    font-size:12px;
}
.see-more-btn{
    padding:20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}
.see-more-btn a{
    color:#E02C6D;
    font-size:16px;
    font-weight: bold;
}
.see-more-btn i{
    padding-left: 5px;
}

/* feature-section */
.newsletter-section{
    width:90%;
    margin:0 auto;
}
.newsletter{
    display:flex;
    align-items: center;
    margin:50px 0;
}
.newsletter-section .n-title{
    text-align: center;
    font-family:'Poppins';
    text-transform: uppercase;
    font-size: 40px;
}
.newsletter-info{
    padding-right:50px;
}
.newsletter-info h2{
    font-size: 30px;
    color:#0A0826;
    font-family: 'Poppins';
}
.newsletter-info p{
    font-size: 14px;
    color:#6C6C6C;
    font-family: 'Poppins';
    margin:20px 0;
    font-weight: 500;
}
.news-form{
    background:#fff;
    padding:5px;
    display: flex;
    justify-content: space-between;
    border:2px solid #cecece;
    border-radius:30px;
}
.news-form input{
    border:none;
    outline:none;
    width:100%;
    padding:5px 10px;
}
.news-form button{
    border:none;
    background:#E02C6D;
    padding:10px 20px;
    color:white;
    font-weight: bold;
    border-radius: 20px;
}
.news-form button i{
    padding-left: 10px;
}
.newsletter img{
    width:400px;
    border-radius:10px;
}

/* footer-section */

.footer{
    height:200px;
    background:#0A0826;
    width:100%;
    flex-direction:column;
    padding:10px 0;
    color:#fff;
}
.footer h2{
    font-family: 'Poppins';
    font-weight: 400;
}
.footer p{
    padding:10px 0;
    text-align: center;
    font-family: 'Poppins';
    font-size:14px;
    line-height: 20px;
}
.social-media a{
    background:rgba(170, 170, 170, 0.26);
    border-radius:50%;
    margin:5px;
}
.social-media i{
    color:#fff;
    padding:10px;
    font-size:18px;
}

@media (min-width:721px) and (max-width:1000px){
    .menu{
        display: block;
    }
    .cart{
        display: block;
    }
    .nav-section{
        justify-content: space-between;
    }
    .logo h2{
        font-size:20px;
    }
    .nav-section nav{
        display:none;
    }
    .nav-section .cart{
        display: block;
        
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-section .details{
        order: 2;
        padding:10px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-section img{
        width:400px;
    }
    /* card-section */
    .card-section{
        grid-template-columns: repeat(2,330px);
    }
    .newsletter img{
        width:300px;
    }
}
@media (max-width:720px){
    .nav-section{
        justify-content: space-between;
    }
    .menu{
        display:block;
    }
    .cart{
        display: block;
    }
    .logo h2{
        font-size:20px;
    }
    .nav-section nav{
        display:none;
    }
    .hero-section{
        flex-direction: column;
    }
    .hero-section .details{
        order: 2;
        padding:10px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details h2{
        font-size:25px;
    }
    .details p{
        font-size: 14px;
    }
    .hero-section img{
        width:300px;
    }
    /* brand-section */
    .brands img{
        width:100px;
    }
    /* card-section */
    .card-section{
        grid-template-columns: repeat(1,330px);
    }
    .newsletter img{
        width:300px;
    }
    .newsletter{
        flex-direction: column;
    }
    .newsletter-info{
        margin-top: 50px;
        order:2;
    }
    .newsletter-info h2{
        font-size: 25px;
    }
}